[Unit]
Description=Rocks Dynip Post
After=NetworkManager.service

[Service]
Type=oneshot
Environment="vc_out=/root/vc-out.xml"
ExecStart=/opt/rocks/bin/rocks reconfigure $vc_out compute=true computepost=true
ExecStartPost=/bin/bash -c "mv $vc_out $vc_out.old"
Restart=no
StandardOutput=syslog
StandardError=syslog

[Install]
RequiredBy=multi-user.target
