[Unit]
Description=Rocks Dynip Post
Requires=rocks-dynip.service
Requires=foundation-mysql.service
After=foundation-mysql.service
After=rocks-dynip.service
After=NetworkManager.service
Wants=foundation-mysql.service
Wants=rocks-dynip.service

[Service]
Type=oneshot
Environment="vc_out=/root/vc-out.xml"
ExecStart=/opt/rocks/bin/rocks reconfigure $vc_out compute=true computepost=true
ExecStartPost=/bin/bash -c "mv $vc_out $vc_out.old"
Restart=no
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=dynip

[Install]
RequiredBy=multi-user.target
